body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    text-align: center;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 400px;
    margin: auto;
}
input {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}
h1 {
    color: #333;
}
p {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}
img {
    max-width: 30%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}